/* Estilos para a página de compra */
body {
    font-family: Arial, sans-serif;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .product-details {
    text-align: center;
    padding: 20px;
  }
  
  #buy-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  #buy-button:hover {
    background-color: #45a049;
  }

  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #39503b;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header-menu ul li {
    margin-left: 20px;
  }
  
  .header-menu ul li:first-child {
    margin-left: 0;
  }
  
  
  

  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 10px;
    position: relative;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #fff;
  }
  
  nav ul li a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  

  
  nav ul li a {
    color: rgb(255, 255, 255);
  }
  
  
  footer {
    background-color: #202124;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .copyright {
    display: inline-block;
    vertical-align: middle;
  }
  
  .footer-logo {
    
    width: 100px; 
    height: auto;
  
   
    margin-right: 10px;
    display: inline-block;
    align-items: center;
  }
  

  
  
  header {
    background-color: #39503b;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header-menu ul li {
    margin-left: 20px;
  }
  
  .header-menu ul li:first-child {
    margin-left: 0;
  }
  
  .section {
    margin-top: 100px; 
  }
  
  footer {
    background-color: #202124;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .copyright {
    display: inline-block;
    vertical-align: middle;
  }
  
  .footer-logo {
    
    width: 100px; 
    height: auto;
  
   
    margin-right: 10px;
    display: inline-block;
    align-items: center;
  }
  
  
  
  
  
  
  
  
  
  .footer-links {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  

  
  .buy-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  
  
  
  .footer-logo {
  
    display: flex;
    align-items:center;
    justify-content: space-between;
  }
  
  
  
  
  
  .logo {
    margin-right: 20px;
  }
  

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 10px;
    position: relative;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #fff;
  }
  
  nav ul li a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

 
  
  
  
 