
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #39503b;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu ul li {
  margin-left: 20px;
}

.header-menu ul li:first-child {
  margin-left: 0;
}

.company-name-container {
  flex-grow: 1;
}

.company-name {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
  position: relative;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
}

nav ul li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

section h2 {
  color: rgb(83, 173, 60);
  margin-top: 100px;
  font-size: 32px; 
  font-family: "Nome da Fonte", sans-serif; 
  text-align: center;
}

nav ul li a {
  color: rgb(255, 255, 255);
}


footer {
  background-color: #202124;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: inline-block;
  vertical-align: middle;
}

.footer-logo {
  
  width: 100px; 
  height: auto;

 
  margin-right: 10px;
  display: inline-block;
  align-items: center;
}









.footer-links {
  flex: 0 0 100%;
  margin-bottom: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}


main {
  margin-bottom: 60px; 
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #39503b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, opacity 0.3s;
}

header.hidden {
  transform: translateY(-100%);
  opacity: 0;
}


.section {
  margin-top: 100px; 
}

.main-section {
  padding: 30px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product {
  text-align: center;
}

.product img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.buy-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}




.footer-logo {

  display: flex;
  align-items:center;
  justify-content: space-between;
}

.idprodutos{
  margin-bottom: 60px;
}

.idprodutos h2{
  margin-bottom: 130px;
}

.logo {
  margin-right: 20px;
}


.espaço{
  padding: 100px;
}

.espaço1{
  text-align: center;
  text-align:initial;
  word-wrap: break-word;
}

.contato{
  word-wrap: break-word;display: block;
  text-align: center;
}

.welcome-text {
  text-align:left;
}